export( mse,
        mae,
        accuracy,
        transform,
      	minmax,
        zscore,
        partition,
	    skewness,
	    find.na,
	    kNN,
        kNN.plot,
        conf.mat,
        conf.mat.plot,
        skim
      )

