importFrom( stats, weighted.mean )
importFrom( stats, sd )
importFrom( stats, median )

importFrom( stats, as.formula, model.frame, delete.response, model.response, model.matrix )

importFrom( class, knn )
importFrom( ggplot2, ggplot, geom_line, geom_point, theme_minimal, 
                     scale_x_continuous, ggtitle, labs, theme, 
                     aes, element_line, element_blank )

export( mse,
        mae,
        accuracy,
        transform,
      	minmax,
        zscore,
        partition,
	    skewness,
	    find.na,
	    kNN,
        kNN.plot,
        conf.mat,
        conf.mat.plot
      )

